language: minimal

services:
  - docker

before_install:
  - docker pull elxreno/twrp-build:latest

script:
  - docker run -v $(pwd):/sources -w /sources elxreno/twrp-build:latest /bin/bash -c "bash build-with-travis.sh"

before_deploy:
  - export FILE_TO_UPLOAD="$(pwd)/recovery.img"

deploy:
  provider: releases
  api_key: $OAUTH_KEY
  file: $FILE_TO_UPLOAD
  skip_cleanup: true
  on:
    tags: true
